head
  meta(charset="utf-8")
  meta(name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1")

  title 
    |Que dirait Diderot ? - L'actualité contre le patrimoine de la BNF

  //- for Google
  meta(name="description" content="Que dirait Diderot ? - L'actualité contre le patrimoine de la BNF")
  meta(name='application-name', content='QDD')

  //- For Apple
  meta(name="apple-mobile-web-app-title" content="QDD")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(http-equiv="Content-Language" content="fr")
  link(rel="shortcut icon" href="/icon.ico")
  link(rel="apple-touch-icon" href="/app-icon.png")

  //- for Facebook
  meta(property='og:title', content='Que dirait Diderot ? - L\'actualité contre le patrimoine de la BNF')
  meta(property='og:description', content='Que dirait Diderot ? - L\'actualité contre le patrimoine de la BNF')
  meta(property="og:image" content="")
  //- meta(property='og:type', content='article')
  meta(property='og:url', content='')

  //- For Twitter
  meta(property='twitter:card', content='')
  meta(property='twitter:site', content='@Diderotbot')
  meta(property='twitter:creator', content='@Diderotbot')
  meta(property='twitter:title', content='Que dirait Diderot ? - L\'actualité contre le patrimoine de la BNF')
  meta(property='twitter:image', content='')
