// If you want to override materialize sass variables you can uncomment the following:
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");


$color1:#008080;
$color2:#ff936d;

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

@font-face {
  font-family: 'Abril Fatface';
/*  src: url('fonts/Panton/Panton-Thin.eot');
  src: url('fonts/Panton/Panton-Thin.woff') format('woff'), url('fonts/Panton/Panton-Thin.ttf') format('truetype'), url('fonts/Panton/Panton-Thin.otf') format('opentype'), url('fonts/Panton/Panton-Thin.svg') format('svg');*/
  src: url('abril-fatface/AbrilFatface-Regular.otf') format('opentype');
  // font-weight: 100;
  font-style: normal;
}


body {
  color: #333;
  background-color:#dff7f7;
  padding-bottom: 3rem;
}

nav {
  background-color:$color1;
  img.nav-logo {
    height: 64px;
    padding: 7px 0px 13px 20px;
  }
  span {
    vertical-align: top;
  }
}

h5 {
  color: $color2;
}

.fixed-selection-col {
  position:fixed;
  background-color: #f1ffff;
  top:50px;
  left:0;
  width:25%;
  min-height: calc(100vh - 50px);
}

.tags-box {
  margin-top:1.5rem;
}

.search-box {
  margin:0 auto;
  margin-top:2rem;
  max-width: 500px;
}

.tag {
  display: inline-block;
  margin: 0.3rem;
  font-size: 0.9rem;
  padding:0.1rem 0.5rem;
  border-radius: 2rem;
  background-color: #ddd;
  border:1px solid #ddd;
  color:$color1;
  transition:0.2s;
  cursor: pointer;
}
.tag:before {
  content:'#';
}

.tag.tag-active {
  background-color:$color1;
  color:white;
  border-color:$color1;
  transform: scale(1.1);
}
  
// .tag.tag-active ~ .tag {
//   background-color:#EEE;
//   color:grey;
// }

.tags-box .tag:hover {
  background-color:aliceblue;
}

.tags-box .tag-active.tag:hover {
  background-color:$color1;
}

#tag-search {
  max-width: 300px;
}

.results-container {
  width: 100%;
  margin-top: 3rem;
}

.result-card {
  position:relative;
  width: 400px;
  display: inline-block;
  vertical-align: middle;
  margin: 0.2rem;
  background-color:black;
  transition:0.2s;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
    min-height: 150px;
    max-height: 300px;
    object-fit: contain;
  }
  .result-buttons {
    position:absolute;
    height: 7rem;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transform: translateY(-7rem);
    transition: 0.2s;
    color: white;
    padding:0.5rem;

    .share-twitter, .open-gallica {
      color:white;
      font-weight: 500;
      font-size: 1.2rem;
      padding:0.5rem;
      transition: 0.2s;
      &:hover {
        color:$color2;
      }
    }
  }
  &:hover {
    box-shadow:0 2px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .result-buttons {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.result-image-title {
  color:#333;
  font-size:1.2rem;
  font-weight: 500;
  background-color:white;
  text-align: left;
  padding: 0.5rem;
  border-top:1px solid #eee;
}

.result-text {
  background-color:white;
  padding:1.5rem 1.5rem;
  color:#333;
  text-align:left;
}

.result-card-template {
  width: 400px;
}

.result-img-header {
  font-family: "Abril Fatface";
  padding: 0.5rem;
  background-color: white;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color:#333;
}

.result-img-text {
  font-family: "Abril Fatface";
  padding: 1.5rem;
  color:#333;
  background-color: #84f7fd;
}

.result-img-ref {
  font-family: "Abril Fatface";
  padding: 0rem 3rem 1rem;
  background-color: #84f7fd;
  text-transform: uppercase;
  font-size: 0.8rem;
  color:#333;
}


